* {
    margin: 0;
    padding: 0;
    
    font-family: 'Inter', sans-serif;
}

main{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

section{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;  
    box-sizing: border-box;
}

section#home{
    background-color: #05445E;
    color: #D4F1F4;
}

section#about-me{
    background-color: #D4F1F4;
    color: #05445E;
}

section#contact{
    background-color: #000000;
    color: #FFFFFF;
}

nav{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
    transition: position 3s ease-in-out;
}

nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background: rgba(20, 20, 94, .6);
    padding: 10px 30px;
    align-items: center;
    z-index: 1;
}

nav .nav-title{
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
}

nav .nav-list{
    display: inline-block;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list li{
    margin: 0 10px;
}

.nav-list li a{
    display: block;
    text-decoration: none;
    color: #D4F1F4;
    font-weight: 600;
}

.nav-list li a:hover, .nav-list li a:focus{
    color: #75E6DA;
}

.introduction{
    position: absolute;
    display: block;
    width: fit-content;
    height: auto;
    transform: translate(-50%, 0);
    top: 50%;
    left: 50%;
}

.introduction h1{
    font-size: 2.2em;
}

.introduction p{
    font-size: 1.3em;
}

.index-intro{
    color: #75E6DA;
}